.footer {
    display: flex;
    max-width: 1440px; 
    width: 100%; 
    background-color: #DBF0F2;

    &__menu-items {
        list-style-type: none;
    }

    &__menu-item {
        font-family: 'Montserrat', Times, serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 19.5px;
        text-decoration: none;
        color: black;
        margin-top: 0.8em;
    }

    &__menu-items2 {
        margin-top: 1em;
        margin-left: 2.5em;
    }

    &__menu-item-img1 {
        width: 1.8em;
        height: 1.8em;
    }

    &__menu-item-img2 {
        width: 1.8em;
        height: 1.8em;
        margin-left: 2em;
    }

    &__menu-info {
        font-family: 'Montserrat', Times, serif;
        font-weight: 300;
        font-size: 10px;
        line-height: 19.5px;
        margin-left: 3.8em;
    }

   } 
   /* здесь ваши стили для десктопа (компьютер) */
   @media (max-width: 1500px) { 
    .footer { 
    max-width: 800px; 
    } 
    /* здесь ваши стили для ноутбука */
   } 
   @media (max-width: 900px) { 
    .footer { 
    max-width: 600px; 
    padding-left: 20px; 
    padding-right: 20px; 
    } 
    /* здесь ваши стили для планшета */
   } 
   @media (max-width: 640px) { 
    
    .footer { 
    max-width: 480px; 
    padding-left: 16px; 
    padding-right: 16px;

    &__menu-item {
        font-family: 'Montserrat', Times, serif;
        font-weight: 300;
        font-size: 10px;
        line-height: 19.5px;
        text-decoration: none;
        color: black;
        margin-top: 0.8em;
    }

    &__menu-info {
        font-family: 'Montserrat', Times, serif;
        font-weight: 200;
        font-size: 8px;
        line-height: 19.5px;
        margin-left: 3.8em;
    }

    } 
    /* здесь ваши стили для смартфона */
   }