.footer {
    display: flex;
    max-width: 1440px; 
    width: 100%; 
    background-color: #DBF0F2;

    &__menu-items {
        list-style-type: none;
    }

    &__menu-item {
        font-family: 'Montserrat', Times, serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 19.5px;
        text-decoration: none;
        color: black;
        margin-top: 0.8em;
    }

    &__menu-items2 {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin-left: -3.3em;
    }

    &__menu-item-img {
        width: 3vw;
        height: 3vh;
    }

    &__footer__info {
        font-family: 'Montserrat', Times, serif;
        font-weight: 200;
        font-size: 8px;
        line-height: 19.5px;
    }
   } 
   /* здесь ваши стили для десктопа (компьютер) */
   @media (max-width: 1500px) { 
    .footer { 
    max-width: 800px; 
    } 
    /* здесь ваши стили для ноутбука */
   } 
   @media (max-width: 900px) { 
    .footer { 
    max-width: 600px; 
    padding-left: 20px; 
    padding-right: 20px; 
    } 
    /* здесь ваши стили для планшета */
   } 
   @media (max-width: 640px) { 
    .footer { 
    max-width: 480px; 
    padding-left: 16px; 
    padding-right: 16px; 
    } 
    /* здесь ваши стили для смартфона */
   }