// Начало стилей 5 блока Катя
.article-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1300px;
    padding-left: 19%;
    padding-right: 12%;
    margin: 0 auto;
}
.img {
    padding-top: 40px;
    padding-right: 86px;
    &__article {
        border-radius: 30px;
    }
}
.article {
    &__h2 {
        padding-bottom: 35px;
        padding-left: 67px;
        font-family: "Poiret One";
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 47px;
    }
}
.art {
    padding-left: 0;
    &__li {
        position: relative;
        padding-left: 15px;
        padding-top: 28px;
        padding-bottom: 28px;
        border-top: 1px solid;
        line-height: 1.2;
        transition: 0.3s linear;
    }
    &__h {
        text-decoration: none;
        color: #000000;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
    }
    }
.art__li:hover {
    border-color: #4a94e9;
}
.art__h:hover {
    color: #4a94e9;
}
@media screen and (max-width: 1399px) {
    .art {
        width: 80%;
        padding-left: 0;
    }
    .img {
        padding-top: 110px;
    }
    }
@media screen and (max-width: 1199px) {
    .art {
        width: 70%;
        padding-left: 5%;
    }
    .img {
        padding-right: 30px;
    }
    .art__h {
        font-size: 18px;
    }
}
@media screen and (max-width: 949px) {
    .article-wrapper {
        padding-right: 150px;
        padding-left: 100px;
    }
    .img {
        padding-top: 60px;
    }
    .article{
        margin-right:10%;
        margin-left: 0;
    }
    .article__h2 {
        font-size: 24px;
        padding-left: 25%;
    }
}
@media screen and (max-width: 859px) {
    .article-wrapper {
        flex-direction: column;
    }
    .img__article {
        max-width: 70%;
    }
    .article__h2 {
        padding-bottom: 0;
    }
    .img {
        margin-left: 5%;
    }
}
// Окончание стилей 5 блока Катя