@charset "UTF-8";
/* 1й блок НАЧАЛО */
.nav__header {
  max-width: 120em;
  width: 100%;
  height: 6em;
  background-color: #cbe4e6;
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  max-width: 100em;
  margin: 0 auto;
  padding-right: 80px;
}

.nav-links {
  list-style-type: none;
  padding: 15px;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 20px;
  font-family: "Poiret one", cursive;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
  color: #111111;
}

.nav-links:hover {
  color: #453a60;
  text-decoration: underline;
}

/* меню бургер НАЧАЛО */
/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}

/* стилизуем кнопку */
.menu__btn-header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 40px;
  left: 40px;
  width: 40px;
  height: 26px;
  z-index: 1;
}

/* добавляем "гамбургер" */
.menu__btn-header > span,
.menu__btn-header > span::before,
.menu__btn-header > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0b0b0b;
}

.menu__btn-header > span::before {
  content: "";
  top: -8px;
}

.menu__btn-header > span::after {
  content: "";
  top: 8px;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 22em;
  height: auto;
  list-style: none;
  text-align: left;
  background-color: #cde2e7;
  box-shadow: 1px 0px 6px #dbcec0;
}

/* элементы меню */
.menu__item-burg {
  display: block;
  margin: 15px;
  padding: 10px 15px;
  color: #0b0b0b;
  font-family: "Poiret one", cursive;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border: solid 0.05em #d7f0f3;
  border-radius: 2em;
}

.menu__item-burg:hover {
  background-color: #dce3e0;
}

.menu__item-burg-2:hover {
  background-color: #dce3e0;
}

#menu__toggle:checked ~ .menu__btn-header > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn-header > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn-header > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 100px;
}

.menu__btn-header > span,
.menu__btn-header > span::before,
.menu__btn-header > span::after {
  transition-duration: 0.25s;
}

.menu__box {
  transition-duration: 0.25s;
}

.menu__item-burg,
.menu__item-burg-2 {
  transition-duration: 0.25s;
}

/* меню бургер ОКОНЧАНИЕ */
.section-1st-block {
  max-width: 120em;
  width: 100%;
  height: 44em;
  background-image: url(../../assets/images/Maskgroup.svg);
  background-repeat: no-repeat;
  font-family: "Poiret one", cursive;
  font-weight: 600;
  margin: 0 auto;
}

/* Первый блок СОДЕРЖАНИЕ */
.presentation {
  display: flex;
  flex-direction: column;
  max-width: 63em;
  margin-left: 120px;
  padding: 15px;
}

.presentation__name {
  /* Имя */
  font-size: 45px;
  margin-top: 100px;
}

.presentation__profession {
  display: flex;
  flex-direction: row;
  font-size: 3em;
}

.presentation__profession-2 {
  margin-left: 15px;
}

.presentation__quote {
  /* Цитата */
  font-size: 2em;
}

.presentation__quote-author {
  /* Автор */
  font-size: 2em;
  align-items: flex-end;
}

/* Положение кнопки первого блока */
.btn__presentation-block {
  display: flex;
  max-width: 110em;
  padding-right: 150px;
  margin-bottom: 150px;
  justify-content: flex-end;
}

/* Стили кнопки первого блока */
.btn__presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.12em 1em #b8e6e9;
}

/* Стили кнопки ОБЩИЕ */
.btn {
  cursor: pointer;
  border: 0.05em solid #111111;
  border-radius: 1.1em;
  background-color: transparent;
  height: 2.2em;
  width: 14em;
  color: #1a1b1c;
  font-size: 1.5em;
  font-family: "Poiret one", cursive;
  font-weight: 600;
}

/* МЕДИАЗАПРОСЫ */
@media (min-width: 1501px) {
  .hamburger-menu {
    display: none;
  }
}
@media (min-width: 901px) and (max-width: 1500px) {
  .hamburger-menu {
    display: none;
  }
  .nav__header {
    width: 100%;
  }
  .nav-links {
    font-size: 24px;
  }
  .section-1st-block {
    width: 100%;
    height: 44em;
    background-image: url(../../assets/images/Maskgroup.svg);
  }
  .presentation {
    width: 80%;
    margin: 0 auto 0 auto;
    padding-top: 22px;
    padding-bottom: 10px;
  }
  .presentation__profession {
    flex-direction: column;
    font-size: 2.5em;
  }
  .presentation__profession-2 {
    margin-left: 0;
  }
  .btn__presentation {
    margin-top: 20px;
  }
}
@media (min-width: 641px) and (max-width: 900px) {
  .nav__header {
    max-width: 56.25em;
    width: 100%;
  }
  .nav-links {
    display: none;
  }
  .section-1st-block {
    width: 100%;
    height: 700px;
    background-image: url(../../assets/images/Maskgroup.svg);
    margin-top: -25px;
  }
  .presentation {
    margin-left: 20px;
  }
  .presentation__name {
    margin-top: 30px;
    font-size: 80px;
  }
  .presentation__profession {
    flex-direction: column;
    font-size: 2.5em;
  }
  .presentation__profession-2 {
    margin-left: 0;
  }
  .btn__presentation-block {
    padding-top: -8px;
  }
}
@media (max-width: 640px) {
  .nav-links {
    display: none;
  }
  .nav__header {
    width: 100%;
  }
  .menu__box {
    width: 17em;
  }
  .section-1st-block {
    width: 100%;
    height: 46em;
    background-image: url(../../assets/Images/Maskgroup.svg);
    margin-top: -25px;
  }
  .presentation {
    margin-left: 15px;
  }
  .presentation__name {
    margin-top: 20px;
    font-size: 60px;
  }
  .presentation__profession {
    flex-direction: column;
    font-size: 2.5em;
  }
  .presentation__profession-2 {
    margin-left: 0;
  }
  .btn__presentation-block {
    padding-right: 50px;
    margin: 0 auto 30px auto;
  }
  .btn__presentation {
    width: 11em;
    height: 2.5em;
  }
  .presentation__quote-author {
    padding-right: 30px;
    padding-left: 15px;
  }
}
@media (max-width: 445px) {
  .menu__box {
    width: 12em;
    height: auto;
  }
  .menu__item-burg {
    margin-left: -20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .section-1st-block {
    margin-top: -25px;
    height: 44em;
  }
  .presentation__name {
    margin-top: -20px;
    font-size: 60px;
  }
  .presentation__quote {
    /* Цитата */
    font-size: 1.5em;
    margin-top: 10px;
  }
  .presentation__quote-author {
    padding-right: 30px;
    padding-left: 15px;
    margin-top: -30px;
  }
  .btn__presentation-block {
    padding-top: -8px;
  }
}
/* 1й блок ОКОНЧАНИЕ */
/* блок ОБО МНЕ */
.about_me .container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 2em;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  display: flex;
}
.about_me .container .information {
  min-width: 70%;
  display: flex;
  flex-direction: column;
}
.about_me .container .information h2 {
  font-family: "Poiret One", cursive;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  margin-top: 0;
}
.about_me .container .information .text {
  padding-right: 5%;
}
.about_me .container .information .text p {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 3%;
}
.about_me .container .information a {
  border: 0.05em solid #111111;
  box-shadow: 0 0.12em 1em #b8e6e9;
  border-radius: 30px;
  align-self: center;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.about_me .container .photo img {
  max-width: 100%;
  border-radius: 30px;
  justify-content: end;
}
@media (max-width: 1500px) {
  .about_me .container {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .about_me .container .information {
    justify-content: space-between;
  }
  .about_me .container .information h2 {
    font-size: 32px;
    line-height: 37px;
  }
  .about_me .container .information .text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding-right: 2em;
  }
  .about_me .container .information a {
    align-self: flex-start;
    font-size: 20px;
    line-height: 24px;
  }
  .about_me .container .photo img {
    max-width: 100%;
    border-radius: 30px;
    justify-content: center;
  }
}
@media (max-width: 900px) {
  .about_me .container {
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .about_me .container .information h2 {
    font-size: 30px;
    line-height: 35px;
  }
  .about_me .container .information .text p {
    font-size: 14px;
    line-height: 20px;
  }
  .about_me .container .information a {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 7%;
  }
}
@media (max-width: 640px) {
  .about_me .container {
    max-width: 480px;
    padding-left: 16px;
    padding-right: 16px;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .about_me .container .information {
    text-align: center;
  }
  .about_me .container .information h2 {
    font-size: 26px;
    line-height: 30px;
  }
  .about_me .container .information .text {
    padding-right: 0;
    margin-left: 10%;
    margin-right: 10%;
  }
  .about_me .container .information .text p {
    font-size: 14px;
    line-height: 20px;
    padding-right: 0;
  }
  .about_me .container .information a {
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    align-self: center;
  }
  .about_me .container .photo {
    max-width: 70%;
    justify-self: center;
    margin-top: 5%;
  }
}

/* конец блока ОБО МНЕ */
/* блок С КАКИМИ ЗАПРОСАМИ Я РАБОТАЮ */
.i_work_with .container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}
.i_work_with .container h2 {
  grid-column: 1/4;
  font-family: "Poiret one", cursive;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
}
.i_work_with .container .cards {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.i_work_with .container .cards .card {
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 30px;
  margin: 1%;
  position: relative;
  display: grid;
  margin-bottom: 10%;
}
.i_work_with .container .cards .card .ellipse_blue {
  position: absolute;
  top: 2%;
  left: 2%;
}
.i_work_with .container .cards .card h3 {
  grid-column: 1/3;
  margin-top: 5%;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-left: 5%;
}
.i_work_with .container .cards .card .list {
  grid-column: 1/3;
  margin-bottom: 15%;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  padding-left: 15%;
  padding-right: 15%;
}
.i_work_with .container .question {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}
.i_work_with .container .question a {
  border: 0.05em solid #111111;
  box-shadow: 0 0.12em 1em #b8e6e9;
  border-radius: 30px;
  align-self: center;
  padding: 3%;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 1500px) {
  .i_work_with .container {
    max-width: 800px;
  }
  .i_work_with .container h2 {
    font-size: 32px;
    line-height: 37px;
  }
  .i_work_with .container .cards {
    grid-template-columns: 1fr 1fr;
  }
  .i_work_with .container .cards .card h3 {
    font-size: 16px;
    line-height: 30px;
  }
  .i_work_with .container .cards .card .list {
    font-size: 16px;
    line-height: 30px;
  }
  .i_work_with .container .question {
    display: flex;
    flex-direction: column;
  }
  .i_work_with .container .question p {
    padding-left: 10%;
    padding-right: 10%;
  }
  .i_work_with .container .question a {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 900px) {
  .i_work_with .container {
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .i_work_with .container h2 {
    font-size: 30px;
    line-height: 35px;
  }
  .i_work_with .container .cards .card {
    grid-template-columns: 1fr 6fr;
    margin: 0;
    margin-left: 5%;
    margin-bottom: 15%;
  }
  .i_work_with .container .cards .card h3 {
    font-size: 14px;
    line-height: 17px;
    margin-top: 8%;
    margin-left: 13%;
  }
  .i_work_with .container .cards .card .ellipse_blue {
    max-width: 35px;
    top: 0;
  }
  .i_work_with .container .cards .card .list {
    font-size: 14px;
    line-height: 20px;
  }
  .i_work_with .container .cards .question {
    display: flex;
    flex-direction: column;
  }
  .i_work_with .container .cards .question p {
    padding-left: 10%;
    padding-right: 10%;
  }
  .i_work_with .container .cards .question a {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 640px) {
  .i_work_with .container {
    max-width: 480px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .i_work_with .container h2 {
    font-size: 26px;
    line-height: 30px;
  }
  .i_work_with .container .cards {
    grid-template-columns: 1fr;
  }
  .i_work_with .container .cards .card {
    grid-template-columns: 1fr 5fr;
    margin: 0;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .i_work_with .container .cards .card h3 {
    margin-left: 0;
    margin-top: 7%;
  }
}
@media (max-width: 500px) {
  .i_work_with .container {
    max-width: 400px;
  }
  .i_work_with .container .cards .card h3 {
    margin-left: 35px;
  }
}

/** Отзывы **/
#feedbacks {
  display: none;
}

.feedbacks {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 1500px) {
  .feedbacks {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 900px) {
  .feedbacks {
    display: none;
  }
}
@media (max-width: 640px) {
  .feedbacks {
    display: none;
  }
}

.carousel-control-prev-icon {
  background-image: url(../images/arrow-left.svg);
  width: 30px;
  height: 20px;
}

.carousel-control-next-icon {
  background-image: url(../images/arrow-right.svg);
  width: 30px;
  height: 20px;
}

.carousel-control-prev {
  left: -150px;
}
@media (max-width: 1500px) {
  .carousel-control-prev {
    left: -100px;
  }
}

.carousel-control-next {
  right: -150px;
}
@media (max-width: 1500px) {
  .carousel-control-next {
    right: -100px;
  }
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.feedbacks-text {
  margin-bottom: 1.4em;
  margin: 0 auto;
  width: 6em;
}
.feedbacks-text__h2 {
  font-family: "Poiret one", cursive;
  font-weight: 600;
  font-size: 3em;
}
@media (max-width: 1500px) {
  .feedbacks-text__h2 {
    font-size: 2em;
  }
}
@media (max-width: 900px) {
  .feedbacks-text__h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 640px) {
  .feedbacks-text__h2 {
    font-size: 1.2em;
  }
}

@media (min-width: 900px) {
  .feedbacks-tablet {
    display: none;
  }
}
@media (max-width: 639px) {
  .feedbacks-tablet {
    display: none;
  }
}
@media (max-width: 900px) {
  .feedbacks-tablet {
    max-width: 600px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .feedbacks-tablet .carousel-control-next {
    right: -3.5em;
  }
  .feedbacks-tablet .carousel-control-prev {
    left: -3.5em;
  }
}

@media (min-width: 640px) {
  .feedbacks-phone {
    display: none;
  }
}
@media (max-width: 640px) {
  .feedbacks-phone {
    max-width: 480px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.feedbacks-phone .carousel-control-next {
  right: -3em;
}
.feedbacks-phone .carousel-control-prev {
  left: -3em;
}

.article-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1300px;
  padding-left: 19%;
  padding-right: 12%;
  margin: 0 auto;
}

.img {
  padding-top: 40px;
  padding-right: 86px;
}
.img__article {
  border-radius: 30px;
}

.article__h2 {
  padding-bottom: 35px;
  font-family: "Poiret one", cursive;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
}

.art {
  padding-left: 0;
}
.art__li {
  position: relative;
  padding-left: 15px;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid;
  line-height: 1.2;
  transition: 0.3s linear;
}
.art__h {
  text-decoration: none;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
}

.art__li:hover {
  border-color: #36bfc9;
}

.art__h:hover {
  color: #36bfc9;
}

/* Cтили для ноутбука */
@media (max-width: 1500px) {
  .art {
    width: 100%;
  }
  .article-wrapper {
    padding-left: 150px;
    padding-right: 50px;
  }
  .img {
    padding-left: 50px;
    padding-right: 50px;
  }
  .article__h2 {
    font-size: 32px;
  }
  .art__h {
    font-size: 20px;
  }
}
/* Cтили для планшета */
@media (max-width: 900px) {
  .article-wrapper {
    flex-direction: column;
    padding-left: 150px;
    padding-right: 50px;
  }
  .article__h2 {
    font-size: 32px;
  }
  .img {
    padding-left: 50px;
  }
  .img__article {
    max-width: 100%;
  }
  .article {
    margin-bottom: 0;
  }
  .art__h {
    font-size: 16px;
  }
}
/* Cтили для смартфона */
@media (max-width: 640px) {
  .article-wrapper {
    flex-direction: column;
    padding-left: 100px;
  }
  .art__h {
    font-size: 14px;
  }
  .article__h2 {
    font-size: 26px;
    padding-bottom: 0;
  }
  .img {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .article {
    margin-top: 0;
  }
}
@media (max-width: 500px) {
  .article-wrapper {
    flex-direction: column;
    width: 80%;
    padding-left: 50px;
  }
  .art__h {
    font-size: 18px;
  }
}
.container {
  max-width: 90em;
  margin: 0 auto;
  padding-left: 1.875em;
  padding-right: 1.875em;
}

.price-h2 {
  text-align: center;
  font-family: "Poiret one", cursive;
  font-weight: 600;
  font-size: 2.5em;
  line-height: 2.9375em;
  margin: 0;
}

.price__h3 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.5em;
  margin: 0;
  margin-bottom: 0;
}

.price__h4 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  margin: 0;
}

.price {
  padding-top: 1.875em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 45.75 em;
  margin: 0 auto;
}

/*Секция online-offline*/
.price-online,
.price-offline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  width: 47%;
  height: 25%;
  border-radius: 1.875em;
  border: 1px solid black;
}

.headline-price {
  justify-content: center;
}

.details {
  height: 40%;
}
.details__list {
  list-style: inside;
}
.details__item {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25em;
  font-weight: 300;
}

.price-icon {
  height: 25%;
}
.price-icon__price-icon-img {
  padding: 0.625em;
  height: 3em;
  width: 3em;
}

/*Форма записи*/
.form-accomodation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  height: 80%;
  gap: 1.875em;
  padding-top: 2.5em;
}

.form-accomodation-contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.form-accomodation-contacts__name, .form-accomodation-contacts__mail, .form-accomodation-contacts__messenger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 29em;
}
.form-accomodation-contacts__text-message {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

/*Шрифты и оформление формы*/
[placeholder] {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1em;
}

/*Оформление Input в форме*/
.input-name,
.input-mail,
.input-messenger,
.input-text-message,
.button-send-form {
  background-color: white;
  border-radius: 1.875em;
  border: 1px solid black;
}

.input-name:focus::placeholder .input-mail:focus::placeholder,
.input-messenger:focus::placeholder,
.input-text-message:focus::placeholder {
  opacity: 0;
}

input.input-name:hover,
input.input-mail:hover,
input.input-messenger:hover,
input.input-text-message:hover {
  border-color: #C8E2E5;
}

/*Расположение формы и Input*/
.input-name,
.input-mail,
.input-messenger {
  padding: 0.9375em;
  margin-left: 1em;
  margin-right: 1em;
  width: 100%;
}

.input-text-message {
  width: 100%;
  height: 12.5em;
  margin-top: 0.625em;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 1.875em;
}

.form-accomodation-contacts__send-form {
  display: flex;
  justify-content: center;
}

/*Стиль для Кнопки Отправить*/
.button-send-form {
  height: 3.125em;
  width: 25em;
  font-family: "Monserrat", "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  color: gray;
}

.button-send-form:active {
  background-color: #C8E2E5;
  border: none;
}

/* Cтили для ноутбука */
@media (max-width: 1500px) {
  .container {
    max-width: 50em;
  }
  .price-h2 {
    font-size: 2em;
    line-height: 2.3125em;
    margin-bottom: 0;
  }
  .price__h3 {
    font-size: 1.25em;
    line-height: 1.875em;
  }
  .price-online,
  .price-offline {
    width: 100%;
    height: 25%;
    justify-content: center;
    margin-bottom: 0.9375em;
  }
  .form-accomodation {
    padding-top: 0;
  }
  .form-accomodation-contacts {
    padding-top: 0;
  }
  .form-accomodation-contacts__name, .form-accomodation-contacts__mail, .form-accomodation-contacts__messenger {
    width: 100%;
    height: 25%;
    justify-content: center;
    padding-bottom: 0.5em;
  }
  .form-accomodation-contacts__text-message {
    width: 100%;
    height: 25%;
    justify-content: center;
  }
  .input-name,
  .input-mail,
  .input-messenger {
    padding-left: 1.875em;
    width: 100%;
  }
  .input-text-message {
    width: 100%;
    height: 12.5em;
    margin-top: 0.625em;
    padding-left: 1.875em;
  }
}
/* Cтили для планшета */
@media (max-width: 900px) {
  .container {
    max-width: 37.5em;
    padding-left: 1.25em;
    padding-right: 1.25em;
  }
  .price-h2 {
    font-family: "Poiret one", cursive;
    font-weight: 600;
    font-size: 1.7em;
    line-height: 2.3125em;
  }
  .price__h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 2.1875em;
  }
  .details__item {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 0.9375em;
    line-height: 1em;
  }
  [placeholder] {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1em;
  }
  .button-send-form {
    width: 50%;
    height: 2em;
  }
}
/* Cтили для смартфона */
@media (max-width: 640px) {
  .container {
    max-width: 30em;
    padding-left: 1em;
    padding-right: 1em;
  }
  .price-h2 {
    font-size: 1.4em;
    line-height: 1.8em;
    text-align: center;
  }
  .price__h3 {
    font-size: 1.125em;
    line-height: 2.1875em;
    text-align: center;
  }
  .accomodation {
    width: 75%;
    text-align: center;
    padding-left: 3.5em;
  }
  .form-accomodation {
    gap: 1em;
  }
}
.contacts-block {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
  display: grid;
  grid-template-rows: 47px 112px 112px 112px;
  grid-template-columns: 63px 600px 708px;
  gap: 25px;
}
.contacts-block__title {
  max-width: 100%;
  font-family: "Poiret one", cursive;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  margin: 0%;
  grid-area: 1/1/2/4;
  text-align: center;
}
.contacts-block__icon-1 {
  margin-top: 3px;
  grid-area: 2/1/3/2;
}
.contacts-block__icon-2 {
  margin: 0%;
  grid-area: 3/1/4/2;
}
.contacts-block__icon-3 {
  margin: 0%;
  grid-area: 4/1/5/2;
  padding-left: 10px;
  padding-right: 10px;
}
.contacts-block__social-media-1 {
  height: 64px;
  margin: 0%;
  grid-area: 2/2/3/3;
}
.contacts-block__social-media-2 {
  margin: 0%;
  grid-area: 3/2/4/3;
}
.contacts-block__social-media-3 {
  margin: 0%;
  grid-area: 4/2/5/3;
}
.contacts-block__map {
  width: 708px;
  height: 334px;
  grid-area: 2/3/5/4;
}
.contacts-block #map {
  border-radius: 30px;
}
.contacts-block__text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  margin: 0%;
}
.contacts-block__link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  text-decoration-line: underline;
}

/* здесь стили для десктопа (компьютер) */
@media (max-width: 1500px) {
  .contacts-block {
    max-width: 800px;
    width: 100%;
    display: grid;
    grid-template-rows: 5% 20% 20% 20% 35%;
    grid-template-columns: 5% 95%;
    column-gap: 40px;
  }
  .contacts-block__title {
    font-size: 32px;
    grid-area: 1/1/2/3;
  }
  .contacts-block__map {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    grid-row: 5/6;
    grid-column: 1/3;
  }
  .contacts-block__text {
    font-size: 20px;
  }
  .contacts-block__link {
    font-size: 16px;
  }
  /* здесь стили для ноутбука */
}
@media (max-width: 900px) {
  .contacts-block {
    max-width: 600px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-rows: 5% 20% 20% 20% 35%;
    grid-template-columns: 5% 95%;
    /* здесь стили для планшета */
  }
  .contacts-block__title {
    font-size: 30px;
    grid-area: 1/1/2/3;
  }
  .contacts-block__icon-1 {
    height: 42px;
  }
  .contacts-block__icon-2 {
    height: 53px;
  }
  .contacts-block__icon-3 {
    height: 53px;
  }
  .contacts-block__map {
    width: 480px;
    height: 300px;
    margin: 0 auto;
    grid-row: 5/6;
    grid-column: 1/3;
  }
  .contacts-block__text {
    font-size: 18px;
  }
  .contacts-block__link {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  .contacts-block {
    max-width: 480px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    display: grid;
    grid-template-rows: 5% 20% 20% 20% 35%;
    grid-template-columns: 5% 380px;
  }
  .contacts-block__title {
    font-size: 30px;
    grid-area: 1/1/2/3;
  }
  .contacts-block__icon-1 {
    height: 42px;
  }
  .contacts-block__icon-2 {
    height: 53px;
  }
  .contacts-block__icon-3 {
    height: 53px;
  }
  .contacts-block__map {
    width: 450px;
    height: 300px;
    margin: 0 auto;
    grid-row: 5/6;
    grid-column: 1/3;
  }
  .contacts-block__text {
    font-size: 18px;
  }
  .contacts-block__link {
    font-size: 14px;
  }
  /* здесь стили для смартфона */
}
.footer {
  display: flex;
  width: 100%;
  background-color: #cbe4e6;
}

.footer__menu-items {
  list-style-type: none;
}

.footer__menu-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  text-decoration: none;
  color: black;
  margin-top: 0.8em;
}

.footer__menu-items2 {
  margin-top: 1em;
  margin-left: 2.5em;
}

.footer__menu-item-img1 {
  width: 1.8em;
  height: 1.8em;
}

.footer__menu-item-img2 {
  width: 1.8em;
  height: 1.8em;
  margin-left: 2em;
}

.footer__menu-info {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 19.5px;
  margin-left: 3.8em;
}

@media (max-width: 900px) {
  .footer {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* здесь ваши стили для планшета */
}
@media (max-width: 640px) {
  .footer {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer__menu-item {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 19.5px;
    text-decoration: none;
    color: black;
    margin-top: 0.8em;
  }
  .footer__menu-info {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 8px;
    line-height: 19.5px;
    margin-left: 3.8em;
  }
}

/*# sourceMappingURL=style.css.map */
