.nav__header {
    max-width: 120em;
    height: 6em;
    background-color: #cbe4e6;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  .nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    max-width: 100em;
    margin: 0 auto;
  }
  
  .nav-links {
    list-style-type: none;
    padding: 15px;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 20px;
    font-family: "Poiret one", cursive;
    color: rgb(0, 0, 0);
  }
  
  a {
    text-decoration: none;
    color: #111111;
  }
  
  .nav-links:hover {
    color: #453a60;
    text-decoration: underline;
  }
  
  /* меню бургер НАЧАЛО */
  /* скрываем чекбокс */
  #menu__toggle {
    opacity: 0;
  }
  
  .hamburger-menu {
    padding-left: 480px;
  }
  
  /* стилизуем кнопку */
  .menu__btn-header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 40px;
    width: 40px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  
  /* добавляем "гамбургер" */
  .menu__btn-header>span,
  .menu__btn-header>span::before,
  .menu__btn-header>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #0b0b0b;
  }
  
  .menu__btn-header>span::before {
    content: '';
    top: -8px;
  }
  
  .menu__btn-header>span::after {
    content: '';
    top: 8px;
  }
  
  /* контейнер меню */
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 25em;
    height: 430px;
    margin-left: -35px;
    padding: 15px;
    list-style: none;
    text-align: left;
    background-color: #cde2e7;
    box-shadow: 1px 0px 6px #dbcec0;
  }
  
  /* элементы меню */
  .menu__item-burg,
  .menu__item-burg-2 {
    display: block;
    margin: 15px;
    padding: 12px 24px;
    color: #0b0b0b;
    font-family: "Poiret one", cursive;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border: solid 0.05em #d7f0f3;
    border-radius: 2em;
  }
  
  .menu__item-burg:hover {
    background-color: #dce3e0;
  }
  
  .menu__item-burg-2:hover {
    background-color: #dce3e0;
  }
  
  #menu__toggle:checked~.menu__btn-header>span {
    transform: rotate(45deg);
  }
  
  #menu__toggle:checked~.menu__btn-header>span::before {
    top: 0;
    transform: rotate(0);
  }
  
  #menu__toggle:checked~.menu__btn-header>span::after {
    top: 0;
    transform: rotate(90deg);
  }
  
  #menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 100px;
  }
  
  .menu__btn-header>span,
  .menu__btn-header>span::before,
  .menu__btn-header>span::after {
    transition-duration: .25s;
  }
  
  .menu__box {
    transition-duration: .25s;
  }
  
  .menu__item-burg,
  .menu__item-burg-2 {
    transition-duration: .25s;
  }
  @media (min-width: 1401px) {
    .hamburger-menu {
      display: none;
    }
  }
  
  @media (min-width: 901px) and (max-width: 1400px) {
    .hamburger-menu {
      display: none;
    }
  
    .nav__header {
      max-width: 60em;
    }
  
    .nav-links {
      font-size: 24px;
    }
  }
  
  @media (min-width: 641px) and (max-width: 900px) {
    .nav__header {
      max-width: 38em;
    }
  
    .nav-links {
      display: none;
    }
  }
  
  @media (max-width: 640px) {
    .nav-links {
      display: none;
    }
  
    .nav__header {
      width: 30em;
    }
  
    .hamburger-menu {
      padding-left: 350px;
    } 
  
    .section-1st-block {
      width: 30em;
      height: 750px;
      background-image: url(/assets/Images/background600.png);
      margin-top: -25px;
    }
  
    .presentation {
      margin-left: 15px;
    }
  
    .presentation__name {
      margin-top: 20px;
      font-size: 60px;
    }
  
    .presentation__profession {
      flex-direction: column;
      font-size: 2.5em;
    }
  
    .presentation__profession-2 {
      margin-left: 0;
    }
  
    .btn__presentation-block {
      padding-top: -8px;
    }
  
    .btn__presentation-block {
      padding-right: 50px;
    }
  }
  .article1 {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .article1__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .article1__h1 {
    font-family: "Poiret One";
    font-style: normal;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
  }
  .img1 {
    padding-left: 30%;
    margin-bottom: 20px;
    padding-right: 30px;
  }
  .article1__container_text {
    max-width: 900px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    margin-left: 30px;
    padding-left: 20px;
  }
  .primary {
    font-size: 18px;
    font-weight: bolder;
  }
  .text5 {
    padding-top: 80px;
  }
  @media (max-width: 1500px) {
    .article1__container_text {
      max-width: 600px;
      margin-right: 0;
      padding-right: 20px;
      margin-left: 20px;
    }
    .article1__img {
      max-width: 80%;
      padding-left: 20px;
      margin-left: 0;
      margin-bottom: 20px;
    }
    .img1 {
      max-width: 100%;
    }
  }
  @media (max-width: 900px) {
    .article1__container {
      display: grid;
      grid-template-columns: 1fr;
    }
    .article1__container_text {
      margin: 0 auto;
    }
  }
  @media (max-width: 640px) {
    .article1 {
      padding-top: 20px;
    }
    .article1__container {
      max-width: 90%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr;
    }
    .article1__h1 {
      font-size: 32px;
    }
    .article1__container_text {
      padding-left: 10%;
    }
    .img1 {
      padding-left: 6%;
    }
  }
  @media (max-width: 640px) {
    .img1 {
      padding-left: 0;
    }
  }
  .footer {
    display: flex;
    max-width: 120em;
    width: 100%;
    background-color: #cbe4e6;
  }
  .footer__menu-items {
    list-style-type: none;
  }
  .footer__menu-item {
    font-family: "Montserrat", Times, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.5px;
    text-decoration: none;
    color: black;
    margin-top: 0.8em;
  }
  .footer__menu-items2 {
    margin-top: 1em;
    margin-left: 2.5em;
  }
  .footer__menu-item-img1 {
    width: 1.8em;
    height: 1.8em;
  }
  .footer__menu-item-img2 {
    width: 1.8em;
    height: 1.8em;
    margin-left: 2em;
  }
  .footer__menu-info {
    font-family: "Montserrat", Times, serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 19.5px;
    margin-left: 3.8em;
  }
  
  /* здесь ваши стили для десктопа (компьютер) */
  @media (max-width: 1500px) {
    .footer {
      max-width: 100%;
    }
    /* здесь ваши стили для ноутбука */
  }
  @media (max-width: 900px) {
    .footer {
      max-width: 600px;
      padding-left: 20px;
      padding-right: 20px;
    }
    /* здесь ваши стили для планшета */
  }
  @media (max-width: 640px) {
    .footer {
      max-width: 480px;
      padding-left: 16px;
      padding-right: 16px;
    }
    .footer__menu-item {
      font-family: "Montserrat", Times, serif;
      font-weight: 300;
      font-size: 10px;
      line-height: 19.5px;
      text-decoration: none;
      color: black;
      margin-top: 0.8em;
    }
    .footer__menu-info {
      font-family: "Montserrat", Times, serif;
      font-weight: 200;
      font-size: 8px;
      line-height: 19.5px;
      margin-left: 3.8em;
    }
  
    /* здесь ваши стили для смартфона */
  }